/*
    charcoal background: #2D333B
    black background: #22272E
    outlines: #444C56
    off white text: #CDD9E5
    light gray text: #ACB9C6
    orange underline: #EC775C
    blue repo name: #539BF5
    yellow JavaScript circle: #F1E05A
    redorange HTML circle: #E34C26
*/

body {
    background-color: rgb(15, 18, 23);
}

header {
    background-color: rgb(4, 8, 13);
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
}

#top-section {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
}

#left-div {
    background-color: greenyellow;
    width: 15%;
    height: 100%;
}

#right-div {
    background-color: greenyellow;
    width: 40%;
    height: 100%;
}

#bottom-section {
    width: 100%;
    height: 50%;
}

#navbar {
    background-color: aqua;
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#content-section {
    width: 100%;
    height: 1000px;
    display: flex;
    justify-content: center;
}

#profile-section {
    background-color: red;
    width: 20%;
    height: 100%;
    position: relative;
}

img {
    width: 90%;
    border-radius: 50%;
}

button {
    position: absolute;
    right: 70px;
    top: 250px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

#pin-con {
    /* background-color: blue; */
    width: 60%;
    height: 100%;
}

#pinned {
    height: 50%;
    width: 100%;
}

#pin-text {
    height: 5%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#pinned-repos {
    background-color: aliceblue;
    height: 95%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.repo {
    background-color: beige;
    height: 30%;
    width: 40%;
    border: 3px solid black;
}

#content-box {
    box-sizing: content-box;
    width: 100px;
    height: 100px;
    border: solid blue 10px;
    padding: 5px;
    background-color: yellow;
}
#border-box {
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    border: solid blue 10px;
    padding: 5px;
    background-color: yellow;
}